/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  font-family: Roobert, "Arial"; 
  padding: 0;
  margin: 0;
  line-height: 90%;
}


@font-face {
	font-family: "Roobert";
	src: url(../fonts/Roobert-Medium.woff2) format('woff2'); 

	font-weight: 500;
}
@font-face {
	font-family: "Roobert";
	src: url(../fonts/Roobert-Regular.woff2) format('woff2'); 

	font-weight: 400;
}
@font-face {
	font-family: "zentryFont";
	src: url(../fonts/ZENTRY-Regular.woff2) format('woff2');

	font-weight: normal;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--light-blue:#DFDEF0;
	--black:#000101;

	--zentry-yellow: #ECFF67;
	--gray: #585961;
	--purple: #672EF4;
	--blue: #5543FF;
}


body {
	background-color: var(--light-blue);
}
.blue-bg{
	background-color: var(--blue);
}
.black-bg{
	background-color: var(--black);
	color: var(--light-blue) !important;
}
/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
  
section {
	padding: 4em 1em;
}

h1 {
	font-family: zentryFont, "Arial";
	font-size: 7em;
	color: var(--light-blue);
	text-align: center;
	margin-bottom: auto;
}
h2 {
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
}
h3 {
	font-family: zentryFont, "Arial";
	font-size: 4em;
	text-align: center;
}
h4 {
	font-family: zentryFont, "Arial";
	font-size: 3em;
}

p {
	line-height: 140%;
}

.special-letter {
	font-family: zentryFont, "Arial";
	font-feature-settings: "ss01" on;
}

a {
	padding: 1em 2em;
	background-color: var(--light-blue);
	border-radius: 2em;
	color: var(--black);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
	display: block;
	width: fit-content;
}

button {
	padding: 1em 2em;
	background-color: var(--zentry-yellow);
	border-radius: 2em;
	color: var(--black);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7em;
	width: fit-content;
}

ul {
	list-style-type: none;
}




/****************/
/* NAVIGATIE */
/****************/

header {
	display: flex;
	background-color: black;
	align-items: center;
	gap: 1em;
	padding: 0.5em 1em;
	justify-content: space-between;
	z-index: 10;
}

header a {
	z-index: 5;
}

header a:nth-of-type(2) {
	margin-right: auto;
}

header img {
	width: 50px;
	background-color: transparent;
	z-index: 5;
}

header nav {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 5;

	background-color: var(--zentry-yellow);
	translate: -100% 0%;
}

nav.toonMenu {
	translate: 0% 0%;
}

header nav ul {
	display: flex;
	flex-direction: column;
	gap: 1em;

	position: fixed;
	top: 10vh;
}

header nav ul li {
	list-style: none;
}

header nav ul li a{
	font-family: zentryFont, "Arial";
	font-size: 5em;
	color: black;
	text-decoration: none;
	background-color: transparent;
	padding: .2em .5em;
}

header button {
	background-color: transparent;
	border: none;
	width: 4em;
	padding: initial;
}
header button img {
	width: 100%;
}
header button:nth-of-type(1) {
	display: block;
	z-index: 5;
}
.removeBtn{
	display: none;
	width: 1px;
}
.showBtn {
	display: block !important;
}

/****************/
/* FOOTER */
/****************/

footer {
	background-color: var(--blue);
	position: relative;
}

footer a {
	background-color: transparent;
	padding: .3em 0;
	text-transform: none;
	font-size: 1.5em;
	transition: .3s ease-in-out;
}

footer li {
	transition: .3s ease-in-out;
	width: fit-content;
}
footer li:hover{
	border-radius: .2em;
	clip-path: polygon(0 0, 95% 18%, 100% 100%, 8% 100%);
	background-color: var(--black);
	color: var(--blue);
	transform: translate(-10%);
	padding: .2em 1.5em;
}
footer li:hover a {
	color: var(--blue);
}

.full-width-text{
	text-align: justify;
  	font-size: 9.5vw;
}
.full-width-text::after {
	content: '';
	display: inline-block;
	width: 100%;
}

footer img {
	position: absolute;
	left: 0;
	top: 0;
	width: 4em;
	height: 4em;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 6em 3em;
	
	padding-left: 20%;
	position: relative;
	width: 100%;
}
footer h2 {
	text-align: start;
	font-size: 1em;
	margin-bottom: 1.5em;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5em 1em 1em 1em;
}

.footer-bottom > p, .footer-bottom > a {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400;
}














/****************/
/* HOME EERSTE SECTION */
/****************/

.home-first-section {
	height: 90vh;
	position: relative;
}
.home-first-section p{
	color: white;
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
}
.home-first-section button {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}

.home-first-section video {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Pas aan naar gewenste breedte */
    height: 100%; /* Houd de aspect-ratio van de video */
	object-fit: cover;
	z-index: -1;
}

/****************/
/* HOME TWEEDE SECTION */
/****************/

.home-second-section {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
}

.pathwrapper {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: center;
}

.image-container{
    /* clip-path: path("m275.612 156.881 L 275.612 156.881 Q 283.5 158.216 284.714 166.123 L 345.771 564.011 Q 346.984 571.919 339.002 572.459 L 78.1283 590.129 Q 70.1465 590.67 69.8623 582.675 L 53.6743 127.27 Q 53.3901 119.276 61.278 120.61"); */
	width: auto;
	height: 100%;
	/* clip-path: polygon(6% 0, 100% 9%, 75% 100%, 20% 100%); */
	mask-image: url(../images/clipping-mask.svg);
	mask-size:contain;
	mask-repeat: no-repeat;
	mask-position: center;
	transform: scale(.7);
}

.home-second-section img{
	/* transform-origin: center center;
	object-position: center;
	object-fit:fill; */
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

/****************/
/* HOME DERDE SECTION */
/****************/

.home-third-section {
	background-color: var(--black);
	color: white;
	padding: 10em 15%;
}
.grid-wrapper{
	display: grid;
}
.home-third-section h2 {
	text-transform:none;
	font-size: 1em;
}
.home-third-section > p{
	opacity: 40%;
	margin-bottom: 2em;
}

.home-third-section article {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	padding: 1em;
	border: 1px rgba(255, 255, 255, 0.4) solid;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
}
.home-third-section button, .home-third-section a {
	display: block;
	width: fit-content;
	height: fit-content;
	position: absolute;
	bottom: 1em;
	z-index: 1;
	background-color: var(--black);
	color: var(--gray);
	border: var(--gray) 1px solid;
	display: flex;
	align-items: center;
	gap: 10px;
}

.home-third-section article h4,
.home-third-section article p {
	position: relative;
	z-index: 1;
}

.home-third-section article video {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Pas aan naar gewenste breedte */
    height: 100%; /* Houd de aspect-ratio van de video */
	object-fit: cover;
	z-index: 0;
}

.home-third-section article:nth-of-type(1){
	height: 400px;

}

.home-third-section article:nth-of-type(2){
	gap: 1em;
	width: 70%;
	margin-left: auto;
}

.home-third-section article:nth-of-type(2) a, .home-third-section article:nth-of-type(2) button {
	position:initial;
}

.home-third-section article:nth-of-type(2) a{
	color: var(--zentry-yellow);
	border: var(--zentry-yellow) 1px solid;
}
.home-third-section article:nth-of-type(3) {
	height: 300px;
	width: 80%;
}
.home-third-section article:nth-of-type(4) {
	height: 500px;
	width: 80%;
	margin-left: auto;
}
.home-third-section article:nth-of-type(5){
	background-color: var(--purple);
	border: none;
	width: 50%;
	height: 230px;
	color: black;
	position: relative;
}
.home-third-section article:nth-of-type(5) img {
	width: 20%;
	position: absolute;
	right: 1em;
	bottom: 1em;
}
.grid-wrapper > video {
	display: none;
}



/****************/
/* HOME VIERDE SECTION */
/****************/

.home-fourth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 1em;

	height: 95vh;
	padding: 2em 4em;
	background-color: var(--black);
	color: white;
}
.home-fourth-section a {
	align-self: center;
}

.image-mask {
	width: auto;
	mask-image: url(../images/clipping-mask2.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	height: 40%;
}

.image-mask img{
	width: 100%;
	object-fit: cover;
	margin-bottom: 20vh;
	height: 100%;
}


/****************/
/* HOME VIJFDE SECTION */
/****************/

.home-fifth-section {
	padding: 2em 2em;
	height: 100vh;
	position: relative;
	background-color: var(--zentry-yellow);
}
.home-fifth-section > * {
	margin: .25em 0
}
.home-fifth-section a{
	background-color: var(--black);
	color: white;
}
.home-fifth-section h3{
	text-align: start;
}
.home-fifth-section video {
	width: 50%;
}

.home-fifth-section ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: absolute;
	bottom: 1em;

}
.home-fifth-section li{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.home-fifth-section li p:nth-of-type(1) {
	grid-area: 1 / 1 / 2 / 2;
}
.home-fifth-section li p:nth-of-type(2) {
	grid-area: 1 / 2 / 2 / 7;
	font-size: 1.2em;
	font-weight: 600;
}
.home-fifth-section li p:nth-of-type(3) {
	grid-area: 2 / 2 / 3 / 7;
}

.home-fifth-section {
	position: relative;
	height: 100vh;
  }
  
  .home-fifth-section.sticky {
	position: sticky;
	top: 0;
  }

.second-fifth-section,
.third-fifth-section{
	display: block;
}

/****************/
/* HOME ZESDE SECTION */
/****************/

.home-sixth-section {
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2em;
}
.home-sixth-section a{
	background-color: var(--black);
	color: var(--light-blue);
}

.imageintext{
	width: 1em;
	height: 1em;
	overflow: hidden;
	display: inline-block;
	position: relative;
	border-radius: .15em;
}
.zwartediv {
	background-color: black;
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
}
.imageintext img {	
	z-index: 2;
	position: absolute;
	left: -100%;
	transform: translateY(-50%);
}

/****************/
/* HOME ZEVENDE SECTION */
/****************/

.universe {
	color: var(--light-blue);
}
.universe ul {
	display: flex;
	flex-direction: column;
}
.universe h3 {
	margin: .25em 0;
}
.universe > ul > li {
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 1em;
	position: relative;
}
.universe > ul > li:nth-of-type(1) {
	height: 200px;
	border: .5px var(--gray) solid;
	width: 400px;
	margin-left: auto;
}
.universe >  ul > li:nth-of-type(1) video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.universe > ul > li:nth-of-type(1) h4 {
	font-size: 5em;
}
.universe > ul > li:nth-of-type(2) {
	background-color: var(--zentry-yellow);
	color: var(--black);
	height: 250px;
	width: 300px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.universe > ul > li:nth-of-type(2) p {
	text-align: end;
}
.universe > ul > li:nth-of-type(2) h4 {
	font-size: 9em;
	transform: matrix3d(0.999997, -0.237396, 0, 0.0031228, 0, 0.821052, 0, 0, 0, 0, 1, 0, 43.465, -13.6036, 0, 1);
	transition: .5s ease-in-out;
}
.universe > ul > li:nth-of-type(2) h4:hover {
	transform: none;
}

.universe > ul > li:nth-of-type(3) {
	background-color: var(--blue);
	color: var(--black);
	height: 500px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.universe > ul > li:nth-of-type(3) h4 {
	font-size: 6em;
}

.universe > ul > li:nth-of-type(3) video {
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 300px;
}
.universe > ul > li:nth-of-type(3) img {
	width: 100%;
}
.universe > ul > li:nth-of-type(4) {
	background-color: var(--blue);
	color: var(--black);
	width: 400px;
	height: 600px;
}
.universe > ul > li:nth-of-type(4) h4 {
	font-size: 9em;
	transform: matrix3d(0.999997, -0.237396, 0, 0.0031228, 0, 0.821052, 0, 0, 0, 0, 1, 0, 99.465, -23.6036, 0, 1);
	transition: .5s ease-in-out;
}
.universe > ul > li:nth-of-type(4):hover h4 {
	transform: none;
}
.universe > ul > li:nth-of-type(4) img {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.universe > ul > li:nth-of-type(5) {
	border: .5px var(--gray) solid;
	width: 400px;
	margin-left: auto;
}
.universe > ul > li:nth-of-type(5) h4 {
	font-size: 4em;
}
.universe > ul > li:nth-of-type(5) ul li {
	text-align: end;
	text-transform: uppercase;
	margin-top: .5em;
}
.universe > ul > li:nth-of-type(6) {
	background-color: var(--light-blue);
	color: var(--black);
	width: fit-content;
}
.universe > ul > li:nth-of-type(6) h4 {
	font-size: 15em;
	transform: matrix3d(0.92657, -0.185525, 0, -0.0019563, -0.15945, 0.66514, 0, -0.0007743, 0, 0, 1, 0, -37.836, 14.7919, 0, 1);
	transition: .5s ease-in-out;
}
.universe > ul > li:nth-of-type(6):hover h4 {
	transform: none;
}

/****************/
/* PARTNERS SECTIE */
/****************/

.partners {
	color: var(--light-blue);
	background-color: var(--black);
	padding: 8em 5em;
}
.partners > p {
	color: var(--gray);
	font-size: 1.3em;
	line-height: 110%;
	width: 70%;
	margin-left: auto;
	margin-bottom: 3em;
}
.partners b {
	color: var(--light-blue);
}

.partners li {
	display: flex;
	gap: 40px;
	margin-bottom: .5em;
}
.partners li p {
	width: 7%;
	color: var(--gray);
	font-size: 0.75em;
	text-transform: uppercase;
}

/****************/
/* HOME NEGENSTE SECTION */
/****************/

.home-ninth-section {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.home-ninth-section h3{
	text-align: start;
}
.home-ninth-section p {
	font-size: 1.25em;
}
.home-ninth-section a {
	background-color: var(--black);
	color: var(--light-blue);
	font-size: 1em;
	display: flex;
	align-items: center;
	gap: 1em;
	transition: .5s ease-in;
}
.home-ninth-section a:hover{
	border-radius: .2em;
	clip-path: polygon(0 0, 95% 18%, 100% 100%, 8% 100%);
}
.home-ninth-section article {
	display: grid;
	grid-template-columns: (2, 1fr);
	grid-template-rows: (2, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	width: 80%;
}
.home-ninth-section article:nth-of-type(1) {
	margin-left: auto;
}

.news-img-container {
	width: 100%;
	padding: 1em;
	grid-area: 1 / 1 / 2 / 3;
}
.home-ninth-section article img {
	width: 100%;
	border-radius: 1em;
	border: 1px solid var(--black);
}
.home-ninth-section article p:nth-of-type(2) {
	text-align: end;
}

/****************/
/* HOME TIENDE SECTION */
/****************/
.home-tenth-section {
	padding: 10em 1em;
}

.home-tenth-section article{
	background-color: var(--black);
	position: relative;
	color: var(--light-blue);
	padding: 12em 1em;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

.home-tenth-section img{
	width: 100%;
}

.swords-image-container {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	z-index: 1;
}

.swords-image{
	height: 500px;
	width: 300px;
	position: relative;
}
.swords-image img{
	object-fit: cover;
	position: absolute;
	top: 0;
}
.clip-path-holder {
	clip-path: polygon(12% 18%, 100% 27%, 83% 100%, 0 91%);
	height: 500px;
	width: 300px;
}

.home-tenth-section h2 {
	position: relative;
	z-index: 3;
}
.home-tenth-section h3 {
	font-size: 5em;
}

.home-tenth-section article > img:last-of-type{
	width: 300px;
	height: 200px;
	position: absolute;
	bottom: 0;
	object-fit: cover;
	clip-path: polygon(27% 0, 100% 45%, 88% 100%, 44% 100%, 0 67%);
}






/****************/
/* ABOUT EERSTE SECTION */
/****************/

.about-first-section {
	height: 105vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}
.about-first-section h1 {
	color: var(--black);
}
.about-first-section img {
	clip-path: polygon(12% 0, 88% 15%, 100% 100%, 0 82%);
	width: 50%;
	height: 400px;
	object-fit: cover;
}

/****************/
/* ABOUT TWEEDE SECTION */
/****************/
.about-second-section h2, .about-second-section h3{
	text-align: start;
	margin-top: .5em;
	color: white;
	background-color: var(--black);
	mix-blend-mode:difference;
	z-index: 2;
	position: relative;
}

.about-second-section img {
	width: 100%;
	clip-path: polygon(28% 0, 100% 2%, 78% 100%, 0 82%);
	height: 550px;
	object-fit: cover;
	margin-top: -150px;
}

.about-second-section p {
	width: 70%;
	margin-left: auto;
}

/****************/
/* ABOUT DERDE SECTION */
/****************/

.about-thirth-section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	height: 100vh;
	justify-content: center;
}

.about-thirth-section p {
	text-align: center;
}


/****************/
/* ABOUT FOURTH SECTION */
/****************/

.about-fourth-section {
	position: relative;
	color: white;
	scroll-snap-type: y mandatory;
}

.about-fourth-section article {
	padding: 4em 2em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about-fourth-section article h2 {
	text-align: start;
}
.about-fourth-section article p {
	width: 80%;
	margin-left: auto;
}
.about-fourth-section video {
	display: none;
}
.show-video {
	display: block !important;
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100vh;
	z-index: -1;
}
.flex-wrapper {
	display: flex;
	gap: 1em;
	flex-direction: column;
}


/****************/
/* ABOUT FIFTH SECTION */
/****************/
.about-fifth-section {
	padding: 10em 1em;
}

.about-fifth-section article{
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 5em 0;
}
.about-fifth-section article h2, .about-fifth-section article h3 {
	text-align: start;
}
.about-fifth-section article img {
	width: 90%;
	height: 550px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	clip-path: polygon(9% 5%, 93% 0, 100% 100%, 0 97%);
}



/****************/
/* ABOUT WORK SECTION */
/****************/

.work {
	background-color: var(--black);
	color: var(--black);
}

.work article {
	display: flex;
	flex-direction: column;
	padding: 3em 2em;
	gap: 1em;
	border-radius: 1em;
}
.work article p {
	width: 60%;
}
.work article a, .work article button {
	background-color: var(--black);
	color: var(--light-blue);
	border: none;
}

.work article:nth-of-type(1) {
	background-color: var(--light-blue);
}
.work article:nth-of-type(2) {
	background-color: var(--zentry-yellow);
	margin: 2em 0;
}








/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
	#firstBtn, #secondBtn {
		display: none;
	}
	.home-third-section {
		padding: 2em 1.5em;
	}
 }





/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
	section {
		padding: 4em 20vw;
	}
 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
	.grid-wrapper{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 016px;
		grid-row-gap: 016px;
	}
	.home-third-section article{
		margin-bottom: 0 !important;
		width: 100% !important;
		height: auto !important;
		margin-left: 0;
}

	.home-third-section article:nth-of-type(1){
		grid-area: 1 / 1 / 2 / 3;
	}
	.home-third-section article:nth-of-type(2){
		grid-area: 2 / 2 / 3 / 3;
	}
	.home-third-section article:nth-of-type(3){
		grid-area: 3 / 2 / 4 / 3;
	}
	.home-third-section article:nth-of-type(4){
		grid-area: 2 / 1 / 4 / 2;
	}
	.home-third-section article:nth-of-type(5){
		grid-area: 4 / 1 / 6 / 2;
	}
	.grid-wrapper > video {
		grid-area: 4 / 2 / 6 / 3; 
		width: 100%;
		display: block;
		border-radius: 1em;
	}

	.universe > ul{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(16, 70px);
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}
	.universe > ul > li {
		width: 100% !important;
		height: auto !important;
		margin-bottom: 0;
	}
 	.universe > ul > li h4 {
		transform: none !important;
	}
		
	.universe > ul > li:nth-of-type(1) {
		grid-area: 2 / 1 / 5 / 4;
	}
	.universe > ul > li:nth-of-type(2) {
		grid-area: 5 / 2 / 9 / 4;
	}
	.universe > ul > li:nth-of-type(3) {
		grid-area: 9 / 1 / 17 / 4;
	}
	.universe > ul > li:nth-of-type(3) img{
		width: 70%;
	}
	.universe > ul > li:nth-of-type(3) video {
		object-fit: contain;
	}
	.universe > ul > li:nth-of-type(4) {
		grid-area: 1 / 4 / 9 / 7;
	}
	.universe > ul > li:nth-of-type(5) {
		grid-area: 9 / 4 / 13 / 6;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.universe > ul > li:nth-of-type(5) > ul > li {
		font-size: .7rem;
	}
	.universe > ul > li:nth-of-type(6) {
		grid-area: 13 / 4 / 16 / 7;
	}
 }

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) { 
	header button {
		display: none;
		width: 0px;
	}
	header nav {
		position: relative;
		width: inherit;
		height: inherit;

		background-color: transparent;
		translate: 0% 0%;
	}
	header nav ul {
		position: relative;
		top: inherit;
		flex-direction: row;
	}
	header nav ul li a {
		font-family: Roobert, "Arial"; 
		color: white;
		font-size: 1em;
	}

	.footer-container {
		grid-template-columns: repeat(4,1fr);
	}
 }

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {  }





/* Feedbackgesprek:
 
- background images in css ipv img in html
 	- bg images niet in css maar gw als html.

 - title en favicon aanpassen
 - h1 voor video zetten in hero header --------
 - video z index bij articles om ze te laten afspelen bij hover
 - kleine articles worden list items
 - header > a ipv ID
 - header class zodat je maar 1 class hebt.
 - nav in footer in list

 - in readme de accesibilty test heel uitgebreid doen, dus echt met kopjes van: contrast, screenreader controls, etc.





 - waar komt extra gap in mijn grid vandaan?
 - Mogen videos autoplayen?
 	- bij scroll (interactie)
 - Section van grote lijst is dat section of niet?



 - intersection observer
 - heading onzichtbaar maken bij sections
 - :not (last-child)
 - px naar -> em
 */